.app {
  height: inherit;
  width: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
  background-color: var(--russian-green);
}
button {
  width: 40px;
  height: 40px;
  border: 2px solid black;
  background-color: var(--russian-green);
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
button:hover {
  background-color: transparent;
}
@media only screen and (max-width: 601px) {
  button {
    height: 30px;
    width: 30px;
  }
}
